.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 100%;
}

.services-divs {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: dotted;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .services-divs {
    flex-direction: column-reverse;
  }
}

.services-titles {
  /* text-align: left; */
  margin-top: 45px;
}

.paragraph-divs {
  padding: 5%;
}

.services-container {
  padding: 5%;
}

.title-div {
  padding-bottom: 5%;
}

.info-div {
  font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
    background-color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 800px;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form-div {
  font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    background-color: whitesmoke;
    margin-top: 25px;
    width: 800px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    animation: Form_slide_in 3s ease 0s forwards;
}

@media only screen and (max-width: 600px) {
    .form-div {
        width: 95%;
        font-size: 10px;
    }

    .info-div {
      width: 95%;
      
  }
  }



@keyframes Form_slide_in {
    0%{
      transform: translateY(-15px);
      /* overflow: hidden;
      visibility: hidden; */
      opacity: 90%;
    }
    100%{
      transform: translateY(0px);
      opacity: 100%;
    }
  }
  .img-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 40%;
  }