.project-img {
    margin-top: 50px;
    max-width: 350px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-img2 {
  /* margin-top: 50px; */
  max-width: 550px;
    max-height: 500px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}




.bounce-div {
    animation: bounce 5s linear infinite;
    cursor: pointer;
    margin-left: 20px;
}

.loader-gif-current-projects {
  margin-top: 50px;
    max-width: 400px;
    max-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
  filter: blur(1px);
  opacity: 10%;
  object-fit: cover;
  
  animation: opacity .5s linear infinite;
  /* -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; */
}

@keyframes bounce {
    0%,100%
    {
        transform: translateY(0px);
    }
    30% 
    {
        transform: translateY(-5px);
    }
    40% 
    {
        transform: translateY(-10px);
    }
 } 

 .collage-div {
     animation: Project_slide 2s ease;
     margin-top: 50px;
     /* min-width: 400px; */
     max-height: 300px;
     
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     /* background-color: gray; */
 }

 @keyframes Project_slide {
    0%{
        
      opacity: 0%;
    }
    100%{
      opacity: 100%;
    }
  }

.project-div {
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center;  */
    /* align-content: center; */
    margin: auto;
    width: 60%;
    
   
}

@media only screen and (max-width: 1500px) {
  .project-div {
    display: flex;
   
    margin: auto;
    width: 90%;
   
}
}

@media only screen and (max-width: 600px) {

  .project-img2 {
    max-width: 200px;
  }

  

  .project-img {
    max-width: 300px;
    margin-right: 20px;
  }

  .loader-gif-current-projects {
    max-width: 200px;
  }
    .project-div {
        flex-direction: column;  
        width: 100%;
        
    }

    .p-info-div {
      
        margin-top: 0px;
        text-align: left;
        min-width: 400px;
        /* padding-left: 65px !important; */
        /* padding-top: 0px; */
        padding-bottom: 10px !important;
    }

    

    .slideshow-shown {
        max-height: 300px;
        margin-top:400px;
        background-color: none;
        border: none;
    }

    .slideshow-hidden {
        height: 300px;
        margin-top:400px;
    }

    .project-title-div {
      padding-left: 0px;
      /* border-top: double; */
      /* border-bottom: double; */
      margin-left: 0px !important;
      margin-top: 10px !important;
    }

    .info-buttons-div {
     max-width: 250px;
   }
  }

.p-info-div {
    /* min-height: 250px; */
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: left;
    padding-left: 40px;
    animation: info_slide 2s ease;
    /* font-size: 10px !important; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset; */
}

.projects-container {
    padding: 5px;
    overflow: hidden;
}

a {
    text-decoration: none ;
}

@keyframes info_slide {
    0%{
      transform: translateY(500px);
      overflow: hidden;
      visibility: hidden;
      opacity: 0%;
    }
    100%{
      transform: translateY(0px);
      opacity: 100%;
    }
  }

/* @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }  */


 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-5px);} 
    60% {-webkit-transform: translateY(-2px);} 
 } 

.button-c {
    margin-left: 10px;
}

.progress-div {
    
    padding: 10px;
    border-bottom: solid;
    margin-bottom: 30px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-title-div {
    text-align: left;
    margin-top: 65px;
    margin-left: 55px;
}

.slideshow-shown {
    position: absolute;
    width: 600;
    height: 600;
    z-index: 1;
    margin-left:15%;
    background-image: linear-gradient(to bottom, rgb(133, 122, 122),rgb(41, 37, 37));
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: slideshow-slide 2s ease;
}

.slideshow-hidden {
    position: absolute;
    width: 600;
    height: 600;
    z-index: 1;
    margin-left:15%;
    background-color: rgb(121, 126, 126);
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    visibility: hidden;
    animation: slideshow-hide 2s ease;
}

@keyframes slideshow-slide {
    0%{
      transform: translateY(20px);
      overflow: hidden;
      visibility: hidden;
      opacity: 0%;
    }
    100%{
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  @keyframes slideshow-hide {
    0%{
      transform: translateY(0px);
      opacity: 100%;
    }
    100%{
      transform: translateY(20px);
      /* opacity: 0%; */
      overflow: hidden;
      visibility: hidden;
    }
  }

.info-buttons-div {
   display: flex;
   justify-content: space-between;
    bottom: 0px;
    width: 375px;
    margin-top: 20px;
}

.project-images {
  object-fit: cover;
  max-width: 400px;
  max-height: 300px;
  min-height: 300px;
}

.project-images9 {
  object-fit: cover;
  max-width: 300px;
  max-height: 300px;
  min-height: 300px;
}


.project-images-p {
  object-fit: cover;
  max-width: 400px;
  max-height: 300px;
  min-height: 300px;
  
}

.coming-soon {
  background-color: rgb(56, 53, 53);
}

@media only screen and (max-width: 600px) {
  .bounce-div {
    margin-left: 0px;
   max-height: 100px;
   width: 100%;
  }

  .project-images9 {
    object-fit: cover;
    max-width: 150px;
    /* max-height: 200px; */
    min-height: 200px;
  }


  .project-images {
    object-fit: cover;
    max-width: 400px;
    max-height: 300px;
    /* min-height: 300px; */
  }

  .project-images-p {
    object-fit: cover;
    max-width: 300px;
    max-height: 300px;
    /* min-height: 300px; */
  }

  .collage-div {
   width: 100%;
   margin-left: 0px;
  
  }

  .project-img3 {
    /* max-width: 300px; */
    /* margin-right: 25px; */
    width: 100%;
    max-width: 300px;
    max-height: 100px !important;
    object-fit: cover;
  }

  .project-img4 {
    /* max-width: 300px; */
    /* margin-right: 25px; */
    width: 100%;
    max-width: 200px !important;
    max-height: 100px !important;
    /* object-fit: fit; */
  }

}

.project-img3 {
  margin-top: 10px;
  max-width: 400px;
  max-height: 300px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: solid;
}

.project-img4 {
  margin-top: 10px;
  max-width: 400px;
  max-height: 300px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  border: solid;
}

.collage-div {
  animation: Project_slide 2s ease;
  margin-top: 10px;
  /* min-width: 400px; */
  max-height: 300px;
 
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* background-color: gray; */
}

.bounce-div {
  animation: bounce 5s linear infinite;
  cursor: pointer;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
}

.project-images-p {
  object-fit: contain;
  width: 400px;
  height: 200px;
  /* min-height: 300px; */
  animation: rotating 20s linear infinite;
  opacity: 20%;
  
}

.rendering-paragraph {
  position: absolute;
  margin-left: 10px;
  background-color: aqua;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
}


/* ///////////////Rotating */

@keyframes rotating {
  0%{
    transform: rotate(0deg);
    
  }
  100%{
    transform: rotate(360deg);
    
  }
}