.footer-container {
  background-image: linear-gradient(to bottom, rgb(133, 122, 122),rgb(41, 37, 37));
    padding: 4rem 2rem 8rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    min-width: 300px;
    
  }

.footer-logo {
    object-fit: cover;
    width: 150px;
    height: 150px;
    
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 



.footer-logo:hover {
    transition: transform 300ms;
  transform: translate3d(0, calc(1% - 1rem), 0);
  transform: translateY(-10px);
}
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;
    margin-left: 100px;
  }
  
  /* .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  } */
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }

  
  @media only screen and (max-width: 600px) {
    .social-icons {
        width: 100px;
        /* flex-direction: column; */
    }

    .social-media {
        max-width: 1000px;
        width: 100%;
        margin-left: 0px;
      }

    .footer-container {
      flex-direction: column;
      margin-top: 150px;
    }

    .author {
      margin-right: 100px;
      padding-top: 20px;
    }

    .footer-subscription {
      margin-right: 100px;
      margin-bottom: 25px;
    }
  }
  
.author {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;

}

.anchor-a-tag {
  color: white !important;
}