.head-picture-container {
    max-height: 400px;
}

.gallery-master-container {
    animation: master_fade 2s ease 0s forwards;
    height: 100%;
}


@keyframes master_fade {
    0%{
      opacity: 20%;
    }
    100%{
      opacity: 100%;
    }
  }

.head-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-auto-rows: minmax(300px, auto);
    grid-auto-columns: minmax(300px, auto);;
    grid-gap: 20px;
    
    padding: 20px;
}

.bounce {
  /* animation: bounce2 2s linear infinite; */
  /* min-height: 400px; */
  padding: 50px;
}

.loader-gif {
  max-width: 300px;
  filter: blur(0px);
  object-fit: cover;
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px; */
  /* animation: opacity .5s linear infinite; */
  /* -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; */
}

@keyframes bounce2 {
  0%,100%
  {
      transform: translateY(0px);
  }
  30% 
  {
      transform: translateY(-1px);
  }
  80% 
  {
      transform: translateY(-2px);
  }
} 

@keyframes opacity {
  from {
    opacity: 15%;
  }
  to {
    opacity: 10%;
  }
} 

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
    .gallery-container {
        grid-template-columns: 2fr;
    }

    .bounce {
      min-height: 200px;
    }

    .loader-gif {
      max-width: 200px;
    }

   
  }

.grid-item {
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: item-slide 2s ease;
}

@keyframes item-slide {
    0%{
      transform: translateY(1000px);
      overflow: hidden;
      visibility: hidden;
      opacity: 50%;
    }
    100%{
      transform: translateY(0px);
      opacity: 100%;
    }
  }

h2 {
    text-align: left;
    margin-left: 10px;
}

.action-button {
    position: fixed;
    background-color: white;
    width: 250px;
    z-index: 1;
    font-size: 15px;
    /* animation: bounce2 2s linear infinite; */
    cursor: pointer;
    margin-left: 18%;
    height: 200px;
    opacity: 95%;
    padding:1%;
    animation: button-slide-up 30s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.action-button-x {
    overflow: hidden;
      visibility: hidden;
    position: fixed;
    background-color: white;
    width: 400px;
    z-index: 1;
    /* animation: bounce2 2s linear infinite; */
    cursor: pointer;
    margin-left: 18%;
    height: 200px;
    padding:1%;
    animation: button-slide-down 2s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

@keyframes button-slide-down {
    0%{
      transform: translateY(0px);
      
    }
    100%{
      transform: translateY(500px);
      overflow: hidden;
      visibility: hidden;
      /* opacity: 50%; */
    }
  }


@keyframes button-slide-up {
    0%{
      transform: translateY(500px);
      overflow: hidden;
      visibility: hidden;
      opacity: 50%;
    }
    100%{
      transform: translateY(0px);
      opacity: 100%;
    }
  }

@keyframes bounce2 {
    0%,100%
    {
        transform: translateY(0px);
    }
    30% 
    {
        transform: translateY(-20px);
    }
    40% 
    {
        transform: translateY(-25px);
    }
 } 