.header {
    column-count: 2;
    /* display: none; */
    overflow-x: hidden;
    height: 100px;
    color: white;
    /* padding-top: 10px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-image: linear-gradient(to bottom, rgb(133, 122, 122),rgb(41, 37, 37));
}



.logo-div {
  
    max-width: 200px;
    cursor: pointer;
    text-align: left;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.logo-img:hover {
  transition: transform 300ms;
transform: translate3d(0, calc(1% - 1rem), 0);
transform: translateY(-3px);
background-color: rgb(102, 98, 98);
}


.logo-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 

@media only screen and (max-width: 600px) {

  .inside-header {
    overflow: hidden;
    width: 0px;
   }
  .header {
    height: 50px;
    /* position: fixed; */
    z-index: 1;
  }

  .logo-img {
    
    visibility: hidden;
  }
}


.tabs-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* margin-right: 200px; */
    padding-top: 125px;
    /* left: 35%; */
    
    /* position: absolute; */

}

.tab-div {
    cursor: pointer;
   min-width: 175px;
   padding: 15px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
   
}

.tab-div:hover {
    transition: transform 300ms;
  transform: translate3d(0, calc(1% - 1rem), 0);
  transform: translateY(-5px);
  /* background-color: rgb(102, 98, 98); */
}

.logo-div {
    max-width: 200px;
    
    margin: 20px;
    
}



.menu-hidden-start {
  /* animation: Slide_In 5s ease 0s forwards; */
  opacity: 0%;
  position: fixed;
  width: 235px;
    height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  visibility: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left; 
  padding-bottom: 25px;
  padding-top: 25px;
  z-index: 1;
  border-left: solid;
  border-right: solid;
}

.mobile-menu-hidden {
    animation: Slide_Out 1s ease-out 0s forwards;
    position: fixed;
    width: 235px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left; 
    padding-bottom: 25px;
    padding-top: 25px;
    z-index: 1;
   border: solid;
}

.mobile-menu-in {
    animation: Slide_In 1s ease 0s forwards;
    position: fixed;
    width: 235px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left; 
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 25px;
    border: solid;
    border-bottom-right-radius: 3%;
    border-top-right-radius: 3%;
    background-color: whitesmoke;
}

@keyframes Slide_In {
    0%{
      /* transform: translateY(-400px); */
      transform: translateX(-400px);
      overflow: hidden;
      visibility: hidden;
    }
    100%{
      /* transform: translateY(0px); */
      transform: translateX(-1px);
      overflow: hidden;
    }
  }


@keyframes Slide_Out {
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(-400px);
      /* overflow: hidden; */
      /* visibility: hidden; */
      
      
    }
  }

  .button-div {
      animation: bounce8 5s linear infinite;
      position: fixed;
      cursor: pointer;
      width: 60px;
      height: 60px;
      padding-top: 18px;
      z-index: 1;
      left:0;
      margin-left: 5px;
      border-radius: 50%;
      /* border-left: solid ;
      border-right: solid; */
      /* border: solid; */
      border-color: rgb(116, 109, 109);
      padding-left: 4px;
      background-color: rgb(231, 230, 230);
      /* background-image: linear-gradient(to bottom, rgb(133, 122, 122),rgb(41, 37, 37)); */
      /* box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px, rgba(0, 0, 0, 0.3) 0px 7px 4px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .button-div > h3 {
    left: 0;
  }

  @keyframes bounce8 {
    0%,100%
    {
        transform: translateY(0px);
    }
    30% 
    {
        transform: translateY(2px);
    }
    40% 
    {
        transform: translateY(6px);
    }
 } 

  .option {
      
      margin-top: 10px;
      width: 200px;
      overflow: hidden;
  }

  .button {
    margin-top: 10px;
    padding-top: 25px;
    width: 200px;
}

.header-email {
  
font-size: small;
z-index: 1;
}

.header-email-div {
  
  position: absolute;
  z-index: 1;
  color: white;
  left: 0;
  margin-left: 70px;
  column-count: 2;
  width: 60px;
 
 
}

.header-email-icon {
  animation: rotating 5s linear infinite;
  margin-left: 165px;
  
}

