.header {
    border: dotted;
    /* display: grid;
    grid-template-columns: 20%;
    grid-template-rows: 20%; */
    /* display: flex;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
   
    
    
}

div {
    border: solid;
}

.logo {
    width: 20%;
}

.tabs-container {
    width: 500px;
    border: double;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 10%;
   
}

.mobile-menu-hidden {
    animation: Slide_Out 1s ease .1s forwards;
}

.mobile-menu-in {
    animation: Slide_In 1s ease .1s forwards;
}

@keyframes Slide_In {
    0%{
      transform: translateX(-1500px);
      overflow: hidden;
    }
    100%{
      transform: translateX(0px);
      
    }
  }

  @-webkit-keyframes Slide_In {
    to {
        width:0;
        height:0;
        visibility: hidden;
    }
  }

@keyframes Slide_Out {
    0%{
      transform: translateX(0px);
    }
    100%{
      transform: translateX(-1500px);
      overflow: hidden;
    }
  }
  
  @-webkit-keyframes Slide_Out {
    to {
        width:0;
        height:0;
        visibility: hidden;
    }
  }