.floorplans-div {
    
}

.floorplan-item {
    border: solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: item-slide 2s ease;
    margin: 50px;
   
}

.floorPlan-image {
    /* width: 100%; */
    max-height: 600px;
    object-fit:fill;
}

.floorplan-titles {
    margin-left: 10px;
}

.unit-info-div-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  
}



.info-item {
    max-width: 300px;
    margin-top: 50px;
    border-bottom: double;
    padding-bottom: 20px;
}